.flex-container {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.sidenav {
  background-color: red;
  flex: 1;
  margin-bottom: 0px;
}

#content {
  background-color: lightblue;
  flex: 2;
  margin: 0px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
