.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidenav {
  padding: 20px;
  margin-bottom: 0px;
  width: 300px;
  resize: horizontal;
}

.content {
  display: flex;
  flex: 4;
  margin: 0px;
  flex-shrink: 100;
  max-width: 80%;
}
