.flex-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.sidenav {
  padding: 30px;
  margin-bottom: 0px;
  width: 300px;
  resize: horizontal;
}

.content {
  display: flex;
  margin: 0px;
  width:  calc(100% - 300px);
  resize: horizontal;
}
