.route-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.route-list li {
    padding: 15px;
}

.route-list a {
    color: black;
    text-decoration: none;
}

.route-active li {
    background-color: #DDDDDD;
}

.route-list li:hover {
    background-color: #CCCCCC;
}

#accordion__panel-route-list {
    padding: 0;
}
